<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="Server" value="gmail.com"/>
		<add key="NetworkHost" value="talk.google.com"/>
		<add key="Port" value="5222"/>
		<add key="Resource" value=""/>
		<add key="StatusMessage" value=""/>
		<add key="ProxyHost" value=""/>
		<add key="ProxyPort" value=""/>
		<add key="LogFile" value=".\ConfBot.log"/>
		<add key="Administrators" value=""/>
	   </appSettings>
</configuration>
